.academy {
    grid-area: 1 / 3 / 7 / 9;
    width: 100%;
    height: 100%;
}

.academy-logo {
    position: relative;
    width: 100%;
    height:100%;
}

.button {
    position: absolute;
    height: auto;
    width: auto;
    background-color: #5091ce; 
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.flip-academy {
    background-color: transparent;
}
  

.flip-academy-inner {
    position: relative;
    display: flex;
    text-align: center;
    transform-style: preserve-3d;
}
  

.flip-academy:hover .flip-academy-inner .flip-academy-front {
    opacity: 0.7;
    transform: scale(0) rotate(360deg);
}
  

.flip-academy-front, .flip-academy-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-academy-front {
    position: relative;
    z-index: 1;
    display: flex;
    transition: transform 0.4s;
    align-items: center;
    justify-content: center;
   
}
  
  
.flip-academy-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 244, 248);
}


@media all and (max-width: 1000px) {
    .academy {
        grid-area: 1 / 3 / 8 / 15;
    }
}

@media all and (max-width: 800px) {
    .button {
        padding: 10px 20px;
        font-size: 8px;
    }
}
