.blog {
    grid-area: 9 / 23 / 12 / 29;
    width: 100%;
    height: 100%;
}

.flip-blog {
    background-color: transparent;
    perspective: 1000px;
}
  

.flip-blog-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-blog:hover .flip-blog-inner {
    transform: rotateX(180deg);
}
  

.flip-blog-front, .flip-blog-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-blog-front {
    background-color: rgb(4,67,163);
    color: rgb(201, 211, 230);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
.flip-blog-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 700;
    overflow-y: auto;
    font-family: Andale Mono, monospace;
    transform: rotateX(180deg);
}



@media all and (max-width: 1000px) {
    .blog {
        grid-area: 4 / 24 / 7 / 29;
    }
}

@media all and (max-width: 800px) {
    .flip-blog-back{
        font-size: 10px;
    }
}