.contacts {
    grid-area: 12 / 23 / 13 / 29;
    width: 100%;
    height: 100%;
}

.flip-contacts {
    background-color: transparent;
}
  

.flip-contacts-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}
  

.flip-contacts:hover .flip-contacts-inner .flip-contacts-front {
    opacity: 0.7;
    transform: scale(0) rotate(360deg);
}
  

.flip-contacts-front, .flip-contacts-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-contacts-front {
    background-color: rgb(0,38,95);
    color: rgb(199, 201, 216);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    transition: transform 0.4s;
}
  
  
.flip-contacts-back {
    display: grid;
    background-color: rgb(234, 244, 248);
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.facebook {
    grid-column: 2;
    opacity: 0.9;
}

.telegram {
    grid-column: 3;
    opacity: 0.9;
}

.instagram {
    grid-column: 4;
    opacity: 0.9;
}

.social-logo {
    filter: grayscale(100%);
    background-color: transparent;
    height: 30px;
    width: 30px;
}

.social-logo:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

@media all and (max-width: 1000px) {
    .contacts {
        grid-area: 7 / 24 / 8 / 29;
    }
}

@media all and (max-width: 800px) {
    .social-logo {
        height: 15px;
        width: 15px;
    }
}