.dotnet {
    grid-area: 6 / 15 / 13 / 23;
    width: 100%;
    height: 100%;
}

.flip-dotnet {
    background-color: transparent;
    perspective: 1000px;
}
  

.flip-dotnet-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-dotnet:hover .flip-dotnet-inner {
    transform: rotateY(180deg);
}
  

.flip-dotnet-front, .flip-dotnet-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-dotnet-front {
    background-color: rgb(100,32,119);
    color: rgb(227, 222, 236);
    display: flex;
    font-size: 4.5rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
.flip-dotnet-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-family: Andale Mono, monospace;
    font-size: 20px;
    font-weight: 700;
    transform: rotateY(180deg);
}

@media all and (max-width: 1000px) {
    .dotnet {
        grid-area: 11 / 16 / 14 / 29;
    }
}

@media all and (max-width: 800px) {
    .flip-dotnet-back{
        font-size: 10px;
    }
}
