.events {
    grid-area: 6 / 23 / 9 / 29;
    width: 100%;
    height: 100%;
}

.flip-events {
    background-color: transparent;
}
  

.flip-events-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}
  

.flip-events:hover .flip-events-inner .flip-events-front {
    opacity: 0.85;
    transform: scaleY(0) translateY(100%);
}
  

.flip-events-front, .flip-events-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-events-front {
    background-color: rgb(45,153,255);
    color: rgb(195, 224, 231);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;   
    z-index: 1;
    transition: transform 0.4s;
}
  
  
.flip-events-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-size: 18px;
    font-weight: 600;
    overflow-y: scroll;
    font-family: Andale Mono, monospace;
}


@media all and (max-width: 1000px) {
    .events {
        grid-area: 1 / 24 / 4 / 29;
    }
    .flip-events-back{
        font-size: 10px;
    }
}