.container {
    width: 100%;
    margin-top: 80px;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(30, minmax(auto, 1fr));
    grid-template-rows: repeat(15, minmax(auto, 1fr));
}
