.header {
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
    z-index: 100;
    position: fixed;
    top: 0;
}

.header,
.header .left-side {
    display: flex;
    align-items: center;
}

.header .left-side {
    width: 250px;
    padding-left: 120px;
}

.header .right-side {
    display: flex;
    align-items: center;
    padding-right: 120px;
    width: 250px;
}

.logo {
    height: 38px;
    width: 128px;
}

.right-side .icon {
    height: 20px;
    width: 20px;
    float: right;
    opacity: 0.8;
    margin: auto;
    cursor:pointer;
}

.icon:hover {
    opacity: 0.95;
}

.avatar-component-container .round span {
    border-radius: 50%;
}

.avatar-component-container .avatar-component span {
    width: 40px;
    height: 40px;
    background-color: rgb(245, 152, 66);
    color: rgb(245, 237, 204);
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    cursor:pointer;
    opacity: 0.8;
}

.avatar-component span:hover {
    opacity: 0.95;
}


.slideDown{
    animation-name: slideDown; 
 
    animation-duration: 2s;
 
    animation-timing-function: ease;   
 
    visibility: visible;                     
}
 
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0%);
    }
}
