.java {
    grid-area: 10 / 9 / 13 / 15;
    width: 100%;
    height: 100%;
}

.flip-java {
    background-color: transparent;
    perspective: 1000px;
}
  

.flip-java-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-java:hover .flip-java-inner {
    transform: rotateX(180deg);
}
  

.flip-java-front, .flip-java-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-java-front {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225,43,76);
    color: rgb(220, 245, 214);
    font-size: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
.flip-java-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-size: 20px;
    overflow-y: auto;
    font-weight: 700;
    font-family: Andale Mono, monospace;
    transform: rotateX(180deg);
}


@media all and (max-width: 1000px) {
    .java {
        grid-area: 8 / 3 / 11 / 16;
    }
}

@media all and (max-width: 800px) {
    .flip-java-back{
        font-size: 10px;
    }
}
