.js {
    position: relative;
    grid-area: 1 / 9 / 10 / 15;
    width: 100%;
    height: 100%;
}

.inner-js {
    position:absolute;
    bottom:0;
    right:0;
}

.flip-js {
    background-color: transparent;
}
  

.flip-js-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}
  

.flip-js:hover .flip-js-inner .flip-js-front {
    opacity: 0.85;
    transform: scaleY(0) translateY(100%);
}
  

.flip-js-front, .flip-js-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-js-front {
    background-color: rgba(247, 207, 105);
    z-index: 1;
    color: rgb(34, 33, 23);
    display: flex;
    font-size: 4.25rem;
    font-weight: 700;
    transition: transform 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
.flip-js-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 700;
    font-family: Andale Mono, monospace;
}


@media all and (max-width: 1000px) {
    .js {
        grid-area: 1 / 15 / 8 / 24;
    }
}

@media all and (max-width: 800px) {
    .flip-js-back{
        font-size: 10px;
    }
}
