
.notifications {
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.alert {
    margin: 10px;
    padding: 7px;
    background-color: #f44336;
    position: relative;
    color: white;
    width: 230px;
    align-content: flex-end;
    font-size: 18px;
    align-items: center;    
    justify-content: space-between;
    opacity: 0.9;
    border-radius: 5px;
    cursor: default;
}

.successful {
    margin: 10px;
    padding: 7px;
    background-color: #1be914;
    position: relative;
    color: white;
    width: 230px;
    align-content: flex-end;
    font-size: 18px;
    align-items: center;    
    justify-content: space-between;
    opacity: 0.9;
    border-radius: 5px;
    cursor: default;
}

.successful .icon {
    float: left;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(245, 234, 229);
    color: #1be914;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.alert .icon {
    float: left;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(245, 234, 229);
    color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.closebtn:hover {
    color: black;
}