.php {
    grid-area: 1 / 15 / 6 / 29;
    width: 100%;
    height: 100%;
}

.flip-php {
    background-color: transparent;
}
  

.flip-php-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}
  

.flip-php:hover .flip-php-inner .flip-php-front {
    opacity: 0.7;
    transform: scale(0) rotate(360deg);
}
  

.flip-php-front, .flip-php-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-php-front {
    background-color: rgb(136,147,192);
    z-index: 1;
    color: rgb(2, 11, 24);
    display: flex;
    font-size: 3.25rem;
    font-style: italic;
    transition: transform 0.6s;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
.flip-php-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-family: Andale Mono, monospace;
    font-size: 20px;
    font-weight: 700;
}


@media all and (max-width: 1000px) {
    .php {
        grid-area: 8 / 16 / 11 / 29;
    }
}

@media all and (max-width: 800px) {
    .flip-php-back{
        font-size: 10px;
    }
}
