.menu:focus { 
    pointer-events:none;
    outline: none;
}

.menu:focus .menu-dropdown { 
    opacity:1;
    visibility:visible;
}

.menu-dropdown {
    width: auto;
    margin:3px 0 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius:1px;
    pointer-events: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    right: 120px;
    visibility: hidden;
    background: #fff;
}

.menu-dropdown li {
    background:transparent;
    outline:0;
    display:block;
    width:auto;
    padding:5px;
}

.user {
    cursor: default;
    text-align: center;
    font-size: 16;
    opacity: 0.7;
    border-bottom: 1px solid rgb(31, 29, 29);
}

.profile-item {
    cursor: pointer;
    font-weight: bold;
}

.profile-item:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0 0 3px rgba(187, 187, 187, 0.5);
}
