.qa {
    grid-area: 7 / 3 / 13 / 9;
    width: 100%;
    height: 100%;
}

.flip-qa {
    background-color: transparent;
    perspective: 1000px;
}
  

.flip-qa-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-qa:hover .flip-qa-inner {
    transform: rotateY(180deg);
}
  

.flip-qa-front, .flip-qa-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  
.flip-qa-front {
    background-color: rgb(82,191,119);
    color: rgb(220, 245, 214);
    display: flex;
    font-size: 3.25rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
.flip-qa-back {
    padding: 13px;
    text-align: left;
    background-color: rgb(234, 244, 248);
    color: rgb(27, 23, 23);
    align-items: center;
    justify-content: left;
    font-family: Andale Mono, monospace;
    font-size: 20px;
    font-weight: 700;
    transform: rotateY(180deg);
}

@media all and (max-width: 1000px) {
    .qa {
        grid-area: 11 / 3 / 14 / 16;
    }
}

@media all and (max-width: 800px) {
    .flip-qa-back{
        font-size: 10px;
    }
}

