* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background: rgba(228, 218, 218, 0.295);
}

.footer {
    width: 100%;
    height: 50px;
    z-index: 100;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
